.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-image: linear-gradient(180deg, #4a5798 0%, #17002f 100%);
  background-size: contain;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #303f8a;
  padding: 0 6%;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.body-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn {
  background: rgb(6, 14, 131);
  background: linear-gradient(
    0deg,
    rgba(6, 14, 131, 1) 0%,
    rgba(12, 25, 180, 1) 100%
  );
  border: none;
}
.btn:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

.btn_green {
   background: rgb(6, 131, 114);
  background: linear-gradient(
    0deg,
    rgb(6, 131, 104) 0%,
    rgb(12, 180, 138) 100%
  );
  border: none;
}

.btn_red {
    background: rgb(131, 6, 6);
  background: linear-gradient(
    0deg,
    rgb(131, 6, 6) 0%,
    rgb(180, 12, 12) 100%
  );
  border: none;
}
.btn_gray {
    background: rgb(125, 130, 129);
  background: linear-gradient(
    0deg,
    rgb(85, 96, 94) 0%,
    rgb(64, 67, 66) 100%
  );
  border: none;
}

.btn:disabled {
  opacity: 0.6;
}



.btn_small_red {
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  background: rgb(251, 17, 17);
}

.btn_small_gray {
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  background: rgb(116, 116, 116);
}

.btn_table {
     display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 120px;
  height: 20px;
  background-color: transparent;
  background: none;
  font-size: 0.9rem;
}

.table {
  width: 80%;
  margin: 0 auto 40px;
  border-radius: 7px;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  outline: 3px solid #5753c8;
  font-size: 15px;
  background: #fff !important;
}
.table th {
  font-weight: bold;
  padding: 7px;
  background: #8288dc;
  border: none;
  text-align: left;
  font-size: 15px;
  border-bottom: 3px solid #5753c8;
}
.table td {
  padding: 7px;
  font-size: 15px;
}

td:last-child {
  border: none;
}

tr {
  cursor: grab;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background: white;
  position: relative;
  border-radius: 10px;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.modal-header {
  justify-content: space-between;
}

.modal-footer {
  justify-content: space-around;
}

.modal-body {
  overflow: auto;
}

.modal-content {
  padding: 1rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

.cl-btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  cursor: pointer;
}
.cl-btn:before {
  content: "+";
  color: #337ab7;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #337ab7;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
.cl-btn:hover:after {
  transform: scale(1);
}
.cl-btn:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}

/* SPINNER */

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

a {
  margin: auto;
  padding: 1rem 1.25rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.6s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}
a:after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #ffffff;
  transition: all 0.6s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}

a:hover {
  color: #2d2d2d;
}

a:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}

.form {
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.form_title {
  text-align: center;
  margin: 0 0 32px 0;
  font-weight: normal;
}

.form_group {
  position: relative;
  margin-bottom: 32px;
}

.form_input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  color: white;
  transition: 0.3s;
}

.form_label {
  position: absolute;
  top: 0;
  z-index: -1;
  color: #9e9e9e;
  transition: 0.3s;
}

.form_input:focus {
  border-bottom: 1px solid #1a73a8;
}

.form_input:focus ~ .form_label {
  top: -18px;
  font-size: 12px;
  color: #e0e0e0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #ffffff;
}

.field-error {
  color: red;
  font-size: 0.8rem;
}
